body {
    font-family: $font-family-Roboto;
    color: $blue;
}

// ========================= //
//         HEADINGS          //
// ========================= //
h1 {
    @include fontSize(40px);
    font-family: $font-family-Roboto;
    font-weight: 800;
    line-height: 42px;
    margin-bottom: 10px;
}

h2 {
    @include fontSize(24px);
    font-family: $font-family-Roboto;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 20px;

    @media screen and (min-width: $md){
        font-size: 2rem;
    }
}

h3 {
    @include fontSize(22px);
    font-family: $font-family-Roboto;
    font-weight: 800;
    line-height: 26px;
    margin-bottom: 2px;
}

h4 {
    @include fontSize(20px);
    font-family: $font-family-Roboto;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 2px;
}

h5,
h6 {
    @include fontSize(18px);
    font-family: $font-family-Roboto;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 2px;

    a {
        color: $blue;

        &:hover {
            color: $blue;
        }
    }
}

// ========================= //
//        Paragraphs         //
// ========================= //
p {
    @include fontSize(18px);
    font-family: $font-family-Roboto;
    line-height: 26px;
}

// ========================= //
//        Links             //
// ========================= //

p {
    @include fontSize(18px);
    font-family: $font-family-Roboto;
    line-height: 26px;
}
