@import "../../css/helpers/variables";

.video-card{

    .card{
        border-radius: 0;
        border: 2px $blue solid;
        margin-bottom: 20px;
    }

    & .video-card__button{
        border: $blue 3px solid;
        color: $blue;
        background-color: transparent;
        border-radius: 0px;

        &:hover{
            background-color: $blue;
            border: $blue 3px solid;
            color: $yellow;
        }
    }

    .card-title{
        font-weight: 700;
    }

    .card-text{
        margin-bottom: .75rem;
    }
}